html, body{
  margin: 0;
  padding: 0;
  background-color: #000;
}

#canvas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 3px solid green;
  border-radius: 32px;
  box-shadow: 0 0 20px green;
  background-color: #222;
}
